@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --complementary-text-color: #907e82;
  --secondary-title-color: #ffa5ba;
  --additional-text-color: #c7133e;
  --accent-color: #d41443;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --complementary-bg-color: #ffb8ca;
  --additional-bg-color: #fafafa;
  --mob-menu-bg-color: #e17992;
  --icons-bg-color: #ffa5bb;
  --main-btn-hover-bg-color: #ecebeb;
  --secondary-btn-hover-bg-color: #d41342;
  --additional-bg-color-cream: #ffb8ca;
  --additional-bg-color-coffee: #f0d1a5;
  --additional-bg-color-shake: #c2e297;
  --timing-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "DM Sans";
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  height: 44px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: 1px solid transparent;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color var(--timing-transition);
}
.button:hover, .button:focus {
  background-color: var(--main-btn-hover-bg-color);
}

.button__icon-send {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  margin-left: 12px;
}

.button--header {
  width: 209px;
}
@media (min-width: 768px) {
  .button--header {
    width: 186px;
  }
}
@media (min-width: 1200px) {
  .button--header {
    width: 159px;
  }
}

.button--hero {
  font-weight: 700;
  font-size: 16px;
  width: 83px;
  height: 24px;
}
@media (min-width: 1200px) {
  .button--hero {
    width: 138px;
    height: 40px;
  }
}

.button--pink {
  height: 24px;
  width: 62px;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  transition: var(--timing-transition);
}
@media (min-width: 1200px) {
  .button--pink {
    width: 104px;
  }
}
.button--pink:hover, .button--pink:focus {
  background-color: var(--accent-color);
}

.button--about {
  width: 176px;
}

.button--white {
  width: 161px;
}
@media (min-width: 768px) {
  .button--white {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .button--white {
    width: 168px;
  }
}

.button--colored {
  width: 161px;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  transition: var(--timing-transition);
}
@media (min-width: 768px) {
  .button--colored {
    width: 192px;
  }
}
@media (min-width: 1200px) {
  .button--colored {
    width: 198px;
  }
}
.button--colored:hover, .button--colored:focus {
  background-color: var(--accent-color);
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

.socials__item {
  margin-right: 30px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--icons-bg-color);
  transition: background-color var(--timing-transition);
}
.socials__link:hover {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--secondary-text-color);
}

.header__container {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  background-color: var(--complementary-bg-color);
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 40px 16px;
  }
}

.header__logo {
  display: block;
  margin-right: auto;
}

.nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.button--header {
  display: none;
}
@media screen and (min-width: 768px) {
  .button--header {
    display: block;
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .button--header {
    margin-left: auto;
  }
}

.mobile-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--mob-menu-bg-color);
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(100%);
  transition: transform var(--timing-transition);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
  }
  .mobile-menu.is-open {
    transform: translateX(0);
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__btn {
  z-index: 1000;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__button {
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    margin-left: 34px;
  }
}

.mobile-menu__btn.is-open .mobile-menu__burger {
  opacity: 0;
}

.mobile-menu__close {
  fill: var(--secondary-text-color);
  opacity: 0;
}
.mobile-menu__btn.is-open .mobile-menu__close {
  opacity: 1;
}

.mobile-menu__nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.mobile-menu__nav-link:last-child {
  border-bottom: 1px solid #e18298;
}

.mobile-menu__nav-link {
  display: block;
  border-top: 1px solid #e18298;
  padding-top: 11px;
  padding-bottom: 11px;
}

.current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn.is-open {
    margin-bottom: 40px;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.about {
  padding-top: 60px;
  background-color: var(--secondary-bg-color);
}

.about__label {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
}

.about__text {
  margin-top: 150px;
  color: var(--main-text-color);
}

.about__subtext {
  margin-top: 32px;
  color: var(--complementary-text-color);
}

.about__subtext--second {
  margin-top: 45px;
}

.about__button {
  width: 176px;
  height: 44px;
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 22px;
  color: var(--accent-color);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
  transition: background-color var(--timing-transition);
  margin-top: 40px;
}
.about__button:hover, .about__button:focus {
  background-color: var(--main-btn-hover-bg-color);
}

.about__icon {
  fill: var(--accent-color);
  margin-left: 15px;
}

/* Advantages section */
.advantages {
  background-color: var(--secondary-bg-color);
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .advantages__list {
    justify-content: center;
  }
}

.advantages__box {
  margin-top: 16px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages__box {
    width: 230px;
    height: 96px;
  }
}
@media (min-width: 1200px) {
  .advantages__box {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages__subtitle {
  height: 56px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .advantages__subtitle {
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .advantages__subtitle {
    height: 65px;
    margin-bottom: 16px;
  }
}

.advantages__subtitle--basic {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media (min-width: 768px) {
  .advantages__subtitle--basic {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media (min-width: 1200px) {
  .advantages__subtitle--basic {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--main-text-color);
}
@media (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

@media (min-width: 768px) {
  .advantages__text--start {
    width: 180px;
    margin-right: 4px;
  }
}
@media (min-width: 1200px) {
  .advantages__text--start {
    width: 288px;
    margin-right: 115px;
  }
}

@media (min-width: 768px) {
  .advantages__text--second {
    width: 162px;
    margin-right: 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__text--second {
    width: 317px;
    margin-right: 80px;
  }
}

@media (min-width: 768px) {
  .advantages__text--last {
    width: 159px;
  }
}
@media (min-width: 1200px) {
  .advantages__text--last {
    width: 288px;
  }
}

.advantages__icon {
  fill: var(--icons-bg-color);
}

.container {
  width: 100% x;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 480px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.gallery {
  outline: 1px solid red;
  background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 19%, #ffffff 19%, #ffffff 100%, #ffffff 100%, #ffffff 100%);
}
@media (min-width: 768px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 57%, #ffffff 57%, #ffffff 100%, #ffffff 100%, #ffffff 100%);
  }
}
@media (min-width: 1200px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 66%, #ffffff 66%, #ffffff 100%, #ffffff 100%, #ffffff 100%);
  }
}

source {
  display: block;
  max-width: 100%;
  height: auto;
}

.gellery_row {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gellery_row {
    gap: 6px;
  }
}
@media (min-width: 1200px) {
  .gellery_row {
    gap: 8px;
  }
}

.gellery_width {
  overflow: hidden;
  border: 1px solid red;
  border-radius: 8px;
  width: 43px;
}
@media (min-width: 768px) {
  .gellery_width {
    width: 105px;
    border-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .gellery_width {
    width: 138px;
  }
}

.gellery_relative {
  position: relative;
}

.contacts__section {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts__section {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__section {
    padding-bottom: 120px;
  }
}

@media (min-width: 480px) {
  .contacts__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .contacts__container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contacts__list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .contacts__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    gap: 32px;
    margin-bottom: 60px;
  }
}
.contacts__item {
  padding: 40px 32px;
  background: var(--main-bg-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 480px) {
  .contacts__item {
    max-width: 280px;
    height: 412px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    padding: 40px 40px;
    width: 368px;
    height: 538px;
  }
}

.contacts__title, .contacts__title--accent {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  display: block;
  text-align: center;
  width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__title, .contacts__title--accent {
    font-size: 16px;
    line-height: 30px;
  }
}
.contacts__title--accent {
  width: 130px;
  background: #c2e297;
}
@media screen and (min-width: 768px) {
  .contacts__title--accent {
    font-size: 16px;
    line-height: 30px;
  }
}

.location,
.shedule {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .location,
.shedule {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts__subtitle, .shedule__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__subtitle, .shedule__subtitle {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__subtitle, .shedule__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts__text, .shedule__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--complementary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__text, .shedule__text {
    font-size: 14px;
    line-height: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text, .shedule__text {
    font-size: 16px;
    line-height: 29px;
  }
}

.shedule__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .shedule__item {
    margin-bottom: 12px;
  }
}

.shedule__text {
  line-height: 22px;
  color: var(--secondary-title-color);
}

.contacts-box__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  transition: var(----timing-transition);
}
.contacts-box__link:hover, .contacts-box__link:focus {
  color: var(--secondary-btn-hover-bg-color);
}
@media screen and (min-width: 768px) {
  .contacts-box__link {
    font-size: 14px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-box__link {
    font-size: 16px;
    line-height: 29px;
  }
}

.contacts-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .contacts-btn {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-btn {
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-btn {
    gap: 14px;
  }
}
.contacts-btn__icon {
  fill: currentColor;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-btn__icon {
    margin-left: 13px;
  }
}

.customer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer__photo {
  margin-top: 60px;
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.customer__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 43px 58px 26px 65px;
  background-color: var(--additional-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--main-text-color);
}
.customer__text:after {
  content: "";
  position: absolute;
  margin-bottom: 16px;
  top: calc(100% + 17px);
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--additional-text-color);
  box-shadow: -10px 0 0 var(--additional-text-color), 10px 0 0 var(--additional-text-color);
}
.customer__text::before {
  content: "";
  position: absolute;
  background-image: repeating-linear-gradient(transparent, transparent 30px, #e1e1e1 30px, #e1e1e1 31px);
  width: calc(100% - 100px);
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customer__name {
  margin-top: 37px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: var(--main-text-color);
}

.products__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .products__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.products__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__uppertitle {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
@media screen and (min-width: 768px) {
  .products__uppertitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products__uppertitle {
    font-size: 34px;
    line-height: 1.13;
  }
}
.products__uppertitle--position {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__uppertitle--position {
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .products__uppertitle--position {
    margin-bottom: 16px;
  }
}

.products__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 66px;
    line-height: 1.14;
  }
}
.products__title--position {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products__title--position {
    margin-bottom: 20px;
  }
}

.products__subtitle {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .products__subtitle {
    font-size: 34px;
    line-height: 1.13;
  }
}
.products__subtitle--position {
  margin-bottom: 32px;
}

.products__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .products__text {
    line-height: 176%;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .products__item {
    padding-top: 140px;
    min-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    padding-top: 138px;
    width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding-top: 261px;
    min-width: 368px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item:not(:last-child) {
    margin-right: 32px;
  }
}

.products__desc {
  padding: 160px 40px 40px 40px;
  width: 100%;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products__desc {
    padding: 118px 32px 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__desc {
    padding: 165px 61px 60px 61px;
  }
}
.products__desc--ice-crem {
  background-color: var(--additional-bg-color-cream);
}
.products__desc--coffee {
  background-color: var(--additional-bg-color-coffee);
}
.products__desc--shake {
  background-color: var(--additional-bg-color-shake);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 40px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}

.footer__container {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding-bottom: 60px;
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.footer-label {
  font-family: "Titan One", cursive;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer-label {
    margin-bottom: 40px;
  }
}

.footer-label__begin {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.167;
  color: var(--secondary-title-color);
}
@media screen and (max-width: 767px) {
  .footer-label__begin {
    width: 230px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-label__begin {
    width: 340px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .footer-label__begin {
    font-size: 26px;
    line-height: 1.154;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label__begin {
    font-size: 30px;
    line-height: 1.133;
  }
}

.footer-label__end {
  display: block;
  font-size: 34px;
  line-height: 1, 147;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .footer-label__end {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-label__end {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .footer-label__end {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label__end {
    font-size: 58px;
    line-height: 1.138;
  }
}

.footer__copyright {
  padding-top: 16px;
  padding-bottom: 3px;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    display: flex;
  }
}

.footer__copyright-text {
  margin: auto;
  width: 150px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--complementary-text-color);
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer__copyright-text {
    line-height: 1.52;
  }
}

.address {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .address {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    font-size: 16px;
  }
}

.address__appeal {
  margin-right: 4px;
  color: var(--main-text-color);
}

.address__tel {
  color: var(--accent-color);
}
.address__tel:hover {
  color: var(--complementary-text-color);
}/*# sourceMappingURL=index.css.map */