%subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  letter-spacing: 0.04em;
  color: var(--main-text-color);
}

%text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  letter-spacing: 0.04em;

  color: var(--complementary-text-color);
}


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
