
:root {
  // colors
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --complementary-text-color: #907e82; // contact section//
  --secondary-title-color: #ffa5ba; // labels (100% natural, tradition and love, homemade ice cream made etc..)//
  --additional-text-color: #c7133e; // customer reviews section - points//

  --accent-color: #d41443; //nav hover, logo, button text, titles, icons hover, etc..//

  --main-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6; //about, contacts, footer sections//
  --complementary-bg-color: #ffb8ca; // header, hero//
  --additional-bg-color: #fafafa; // customer reviews section//
  --mob-menu-bg-color: #e17992;

  --icons-bg-color: #ffa5ba; // icons
  --main-btn-hover-bg-color: #ecebeb; //btn-hover: header btn, mob-menu btn, "how it's mande"btn in hero, contacts section "Franchise" btn + section about "Read more"btn//
  --secondary-btn-hover-bg-color: #d41342; //btn-hover: "Products"btn in hero, contacts section "Our location" btn//

  --additional-bg-color-cream: #ffb8ca; // products ice-cream bg color//
  --additional-bg-color-coffee: #f0d1a5; // products coffee + branches in contacts (foodtruck) bg color//
  --additional-bg-color-shake: #c2e297; // products shake + branches in contacts (cafe) bg color//

  // transition
  --timing-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

