<!-- Секция Advantages -->
<section class="advantages section">
    <div class="container">
        <h2 class="visually-hidden">Advantages ice cream</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__wrapper">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/advantages/icon_milk_mb.webp 1x, ./images/advantages/icon_milk@2x_mb.webp 2x"
                            type="image/webp" />
                        <source media="(min-width: 1200px)" srcset="./images/advantages/icon_milk_mb.png 1x, ./images/advantages/icon_milk@2x_mb.png 2x"
                            type="image/png" />                        
                        <img class="advantages__ico" src="./images/advantages/icon_milk_mb.png" alt="bucket of milk" width="33" height="50">
                    </picture>
                </div>
                <div class="advantages__box">
                    <h3 class="advantages__subtitle advantages__subtitle--basic">721</h3>
                    <p class="advantages__text advantages__text--start">
                        Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__wrapper">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/advantages/icon_apples_mb.webp 1x, ./images/advantages/icon_apples@2x_mb.webp 2x"
                            type="image/webp" />
                        <source media="(min-width: 1200px)"
                            srcset="./images/advantages/icon_apples_mb.png 1x, ./images/advantages/icon_apples@2x_mb.png 2x" type="image/png" />
                        <img class="advantages__ico" src="./images/advantages/icon_apples_mb.png" alt="bucket of apples" width="50" height="50">
                    </picture>                  
                </div>
                <div class="advantages__box">
                    <h3 class="advantages__subtitle advantages__subtitle--basic">16kg</h3>
                    <p class="advantages__text advantages__text--second">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__wrapper">
                    <picture>
                        <source media="(min-width: 1200px)"
                            srcset="./images/advantages/icon_heart_mb.webp 1x, ./images/advantages/icon_heart@2x_mb.webp 2x"
                            type="image/webp" />
                        <source media="(min-width: 1200px)"
                            srcset="./images/advantages/icon_heart_mb.png 1x, ./images/advantages/icon_heart@2x_mb.png 2x"
                            type="image/png" />
                        <img class="advantages__ico" src="./images/advantages/icon_heart_mb.png" alt="heart" width="44"
                            height="50">
                    </picture>                    
                </div>
                <div class="advantages__box">
                    <h3 class="advantages__subtitle advantages__subtitle--basic">84</h3>
                    <p class="advantages__text advantages__text--last">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>