<customer>Customer</customer>
<section class="customer">
    <div class="customer-review container">
        <img class="customer__photo" src="./images/mobile/customer_1.png" alt="Emily, Los Angeles">
        <div class="review">

            <p class="customer__text">
                <svg class="customer-icon" width="54" height="40">
                    <use class="customer-quotes" href="./images/icons.svg#quotes"></use>
                </svg>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>

        <p class="customer__name">
            Emily, Los Angeles
        </p>

        <ul class="customer-dots__list">
            <li class="customer-dots__item current"></li>
            <li class="customer-dots__item"></li>
            <li class="customer-dots__item"></li>
        </ul>

</section>