<customer>Customer</customer>
<section class="customer">
    <img class="customer__photo" src="#" alt="Emily, Los Angeles">

    <div class="customer__rewiews">

        <svg class="quotes">
            <use></use>
        </svg>

        <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>

    </div>

    <svg class="customer__dots">
        <use></use>
    </svg>

    <p class="customer__name">
        Emily, Los Angeles
    </p>

    <ul class="customer__list">
        <li class="customer__item"></li>
        <li class="customer__item"></li>
        <li class="customer__item"></li>
    </ul>
</section>