<customer>Customer</customer>
<section class="customer">


    <img class="customer__photo" src="./images/mobile/customer_1.png" alt="Emily, Los Angeles">

    <p class="customer__text gradient">
        <svg class="customer-icon" width="54" height="40">
            <use class="customer-quotes" href="./images/icons.svg#quotes"></use>
        </svg>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
        accumsan
        congue. Lorem ipsum primis in nibh vel risus.
    </p>



    <p class="customer__name">
        Emily, Los Angeles
    </p>

</section>