<!-- FOOTER -->
<footer class="footer">
  <div class="container footer__container">
    <p class="footer-label">
      <span class="footer-label__begin">homemade ice cream made</span>
      <span class="footer-label__end">with passion</span>
    </p>
    <div class="footer__contacts">
      <div class="socials">
        <ul class="socials__list"></ul>
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://github.com/jrudenko/team-project-group-16"
            target="_blank"
            aria-label="github"
          >
            <svg class="icon footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://t.me/junior_developer_ua"
            target="_blank"
            aria-label="telegram"
          >
            <svg class="icon footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="facebook"
          >
            <svg class="icon footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </div>
      <address class="address">
        <p class="address__appeal">Feel free to contact</p>
        <a class="address__tel link" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </address>
    </div>
  </div>
  <div class="footer__copyright">
    <span class="footer__copyright-text"
      >&#xa9; 2021 - IceCream. All Rights Reserved.
    </span>
  </div>
</footer>
