<section class="gallery">
    <div class="container">
        <h2 hidden>Gallery of ice cream</h2>
        <picture>
            <source media="(min-width: 1200px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_lg.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_lg@2x.webp 2x"
                type="image/webp" />
            <source media="(min-width: 1200px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_lg.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_lg@2x.jpg 2x"
                type="image/jpg" />
            <source media="(min-width: 768px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_md.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_md@2x.webp 2x"
                type="image/webp" />
            <source media="(min-width: 768px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_md.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_md@2x.jpg 2x"
                type="image/jpg" />
            <source media="(max-width: 320px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_sm.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_sm@2x.webp 2x"
                type="image/webp" />
            <source media="(max-width: 320px)" srcset="./images/gallery/1_green_ice_cream/home-pic5_sm.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_sm@2x.jpg 2x"
                type="image/jpg" />
            <img src="./images/gallery/1_green_ice_cream/home-pic5_sm.jpg" alt="two ice creams on a stick lie in a mint-colored plate" width="43" height="43">
        </picture>       
    </div>
</section>