<section
  class="gallery"
  data-aos="flip-down"
  data-aos-anchor-placement="center-bottom"
>
  <h2 class="visually-hidden">Gallery of ice cream</h2>
  <div class="container">
    <div class="gallery__container">
      <div class="gallery__column first">
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/1x2.png 2x, ./images/gallery/1.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/1.png"
              alt="two ice creams on a stick lie in a mint-colored plate"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column second">
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/2x2.png 2x, ./images/gallery/2.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/2.png"
              alt="pink gelato"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/3x2.png 2x, ./images/gallery/3.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/3.png"
              alt="regular ice cream with raspberries on a stick"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column gallery__column_big third">
        <div class="img__container img__container_big">
          <picture>
            <source
              srcset="./images/gallery/x2/4x2.png 2x, ./images/gallery/4.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/4.png"
              alt="8 gelato garnished with blueberries and mint"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/5x2.png 2x, ./images/gallery/5.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/5.png"
              alt="girl smiles and eats gelato"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column fourth">
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/6x2.png 2x, ./images/gallery/6.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/6.png"
              alt="fro-yo or frozen yogurt with berries"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/7x2.png 2x, ./images/gallery/7.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/7.png"
              alt="girl holds an orange gelato with nuts in her hand"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column fifth">
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/8x2.png 2x, ./images/gallery/8.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/8.png"
              alt="gelato with red and white ice cream, which is licked by a puppy"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="img__container">
          <picture>
            <source
              srcset="./images/gallery/x2/9x2.png 2x, ./images/gallery/9.png 1x"
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/9.png"
              alt="man drinking a milkshake from a straw in a coffee shop"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__column sixth">
        <div class="img__container">
          <picture>
            <source
              srcset="
                ./images/gallery/x2/10x2.png 2x,
                ./images/gallery/10.png      1x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="gallery__img"
              src="./images/gallery/10.png"
              alt="donut with frozen custard and fruits"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
