<section class="gallery">
    <div class="container">
        <h2 hidden  id="gallery">Gallery of ice cream</h2>
        <ul class="gellery_row">
            <li>
                <picture class="thumb gallery_row">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_lg.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_lg.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_md.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_md@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_md.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_md@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_sm.webp 1x, ./images/gallery/1_green_ice_cream/home-pic5_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/1_green_ice_cream/home-pic5_sm.jpg 1x, ./images/gallery/1_green_ice_cream/home-pic5_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img class="gellery_width" src="./images/gallery/1_green_ice_cream/home-pic5_sm.jpg"
                        alt="two ice creams on a stick lie in a mint-colored plate">
                </picture>
            </li>
            <li>
                <picture class="thumb gallery_row">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_lg.webp 1x, ./images/gallery/2_one_pink/home-pic4_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_lg.jpg 1x, ./images/gallery/2_one_pink/home-pic4_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_md.webp 1x, ./images/gallery/2_one_pink/home-pic4_md@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_md.jpg 1x, ./images/gallery/2_one_pink/home-pic4_md@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_sm.webp 1x, ./images/gallery/2_one_pink/home-pic4_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/2_one_pink/home-pic4_sm.jpg 1x, ./images/gallery/2_one_pink/home-pic4_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/2_one_pink/home-pic4_sm.jpg" alt="pink gelato" width="43" height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb gellery_relative">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_lg.webp 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_lg.jpg 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_mb.webp 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_mb.jpg 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_sm.webp 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/3_large_picture_with_ice_cream/home-pic1_sm.jpg 1x, ./images/gallery/3_large_picture_with_ice_cream/home-pic1_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/3_large_picture_with_ice_cream/home-pic1_sm.jpg"
                        alt="8 gelato garnished with blueberries and mint" width="89" height="89">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_lg.webp 1x, ./images/gallery/4_white_ice_cream/home-pic9_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_lg.jpg 1x, ./images/gallery/4_white_ice_cream/home-pic9_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_md.webp 1x, ./images/gallery/4_white_ice_cream/home-pic9_md@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_md.jpg 1x, ./images/gallery/4_white_ice_cream/home-pic9_md@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_sm.webp 1x, ./images/gallery/4_white_ice_cream/home-pic9_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/4_white_ice_cream/home-pic9_sm.jpg 1x, ./images/gallery/4_white_ice_cream/home-pic9_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/4_white_ice_cream/home-pic9_sm.jpg" alt="fro-yo or frozen yogurt with berries" width="43"
                        height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_lg.webp 1x, ./images/gallery/5_dog_with_icecream/home-pic10_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_lg.jpg 1x, ./images/gallery/5_dog_with_icecream/home-pic10_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_mb.webp 1x, ./images/gallery/5_dog_with_icecream/home-pic10_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_mb.jpg 1x, ./images/gallery/5_dog_with_icecream/home-pic10_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_sm.webp 1x, ./images/gallery/5_dog_with_icecream/home-pic10_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/5_dog_with_icecream/home-pic10_sm.jpg 1x, ./images/gallery/5_dog_with_icecream/home-pic10_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/5_dog_with_icecream/home-pic10_sm.jpg"
                        alt="gelato with red and white ice cream, which is licked by a puppy" width="43" height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_lg.webp 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_lg.jpg 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_mb.webp 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_mb.jpg 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_sm.webp 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/6_donut_with_ice_cream/home-pic11_sm.jpg 1x, ./images/gallery/6_donut_with_ice_cream/home-pic11_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/6_donut_with_ice_cream/home-pic11_sm.jpg" alt="donut with frozen custard and fruits"
                        width="43" height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_lg.webp 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_lg.jpg 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_mb.webp 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_mb.jpg 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_sm.webp 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_sm.jpg 1x, ./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/7_lots_of_pink_icecream_on_a_stick/home-pic6_sm.jpg"
                        alt="regular ice cream with raspberries on a stick" width="43" height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_lg.webp 1x, ./images/gallery/8_girl_with_icecream/home-pic7_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_lg.jpg 1x, ./images/gallery/8_girl_with_icecream/home-pic7_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_mb.webp 1x, ./images/gallery/8_girl_with_icecream/home-pic7_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_mb.jpg 1x, ./images/gallery/8_girl_with_icecream/home-pic7_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_sm.webp 1x, ./images/gallery/8_girl_with_icecream/home-pic7_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/8_girl_with_icecream/home-pic7_sm.jpg 1x, ./images/gallery/8_girl_with_icecream/home-pic7_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/8_girl_with_icecream/home-pic7_sm.jpg" alt="girl smiles and eats gelato" width="43"
                        height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_lg.webp 1x, ./images/gallery/9_peach_icecream/home-pic8_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_lg.jpg 1x, ./images/gallery/9_peach_icecream/home-pic8_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_mb.webp 1x, ./images/gallery/9_peach_icecream/home-pic8_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_mb.jpg 1x, ./images/gallery/9_peach_icecream/home-pic8_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_sm.webp 1x, ./images/gallery/9_peach_icecream/home-pic8_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/9_peach_icecream/home-pic8_sm.jpg 1x, ./images/gallery/9_peach_icecream/home-pic8_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/9_peach_icecream/home-pic8_sm.jpg"
                        alt="girl holds an orange gelato with nuts in her hand" width="43" height="43">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_lg.webp 1x, ./images/gallery/10_icecream_shake/home-pic12_lg@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 1200px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_lg.jpg 1x, ./images/gallery/10_icecream_shake/home-pic12_lg@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_mb.webp 1x, ./images/gallery/10_icecream_shake/home-pic12_mb@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_mb.jpg 1x, ./images/gallery/10_icecream_shake/home-pic12_mb@2x.jpg 2x"
                        type="image/jpg" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_sm.webp 1x, ./images/gallery/10_icecream_shake/home-pic12_sm@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 320px)"
                        srcset="./images/gallery/10_icecream_shake/home-pic12_sm.jpg 1x, ./images/gallery/10_icecream_shake/home-pic12_sm@2x.jpg 2x"
                        type="image/jpg" />
                    <img src="./images/gallery/10_icecream_shake/home-pic12_sm.jpg"
                        alt="man drinking a milkshake from a straw in a coffee shop " width="43" height="43">
                </picture>
            </li>
        </ul>    
    </div>
</section>