<header class="header">
  <div class="header__container">
    <a class="header__logo" href="./index.html" aria-label="Logo IceCreame">
      <svg class="header__icon" width="199" height="50">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link current" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#made">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="button button--header" type="button">
      <span>Buy now</span>
      <svg class="button__icon" width="10" height="10">
        <use href="./images/icons.svg#icon-vector"></use>
      </svg>
    </button>

    <!-- Мобільне меню  -->
    <button class="mobile-menu__btn" type="button" data-menu-button>
      <svg class="mobile-menu__icon" width="20" height="12">
        <use
          class="mobile-menu__burger"
          href="./images/icons.svg#icon-burger"
        ></use>
        <use
          class="mobile-menu__close"
          href="./images/icons.svg#icon-close"
        ></use>
      </svg>
    </button>

    <div class="mobile-menu" data-menu>
      <button class="mobile-menu__button button" type="button">
        <span>Buy now</span>
        <svg class="button__icon" width="10" height="10">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>

      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__nav-list">
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link current" href="#home">Home</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#about">About us</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#made">How it’s made?</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#products">Our products</a>
          </li>
          <li class="mobile-menu__nav-item">
            <a class="mobile-menu__nav-link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
