<section class="hero">
    <div class="container">
        <h1 class="hero__title"><span class="hero__title--white">ice cream <br>made with</span><br>
            <span class="hero__title--dark">passion</span>
        </h1>
        
        <div class="circle"></div>
        <picture class="hero__thumb">
            
        </picture>
        <ul class="btns">
            <li class="btns__item">
                <a href="#">
                    <button type="button" class="button btn__hero btn__hero--red">Products</button>
            </a>
            </li>
            <li class="btns__item">
                <a href="#">
                    <button type="button" class="button btn__hero btn__hero--light">How it’s made?</button>
                </a>
            </li>
        </ul>
        <picture class="hero__girl">
            
           
        </picture>

        <picture class="hero__milk">
            
        </picture>

        <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <div class="hero__arrow">
            
        </div>

        <ul class="hero__group">
            <li class="hero__group-item">
                <p class="hero__group-text">16</p>
            </li>
            <li class="hero__group-item">
                <p class="hero__group-text">23</p>
            </li>
        </ul>
    </div>
</section>