.about {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
 
  @include respond-to('large') {
    background-image: url(../images/desktop/milk-left-desktop.png),
      // фото молоко зліва
      url(../images/desktop/milk-right-desktop.png);
    // фото молоко справа

    background-position: top 30% left,
      right bottom 35%;
    background-repeat: no-repeat, no-repeat;
    background-size: 161px, 268px;

    retina {

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: url(../images/desktop/milk-left-desktop@2x.png),
          // фото молоко зліва ретіна
          url(../images/desktop/milk-right-desktop@2x.png);
        // фото молоко справа ретіна
      }
    }
  }
}

.about__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

    width: 100%;
  
    @include respond-to('small') {
      max-width: 480px;
    }
  
        @include respond-to('medium') {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  
        @include respond-to('large') {
      max-width: 1200px;
      padding-left: 16px;
      padding-right: 16px;
    }
}

.about__label {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color:var(--secondary-title-color);

  margin-bottom: 15px;

  @include respond-to('medium') {
    font-size: 26px;
    line-height: 1.15;

    margin-bottom: 16px;
  }

    @include respond-to('large') {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  margin-bottom: 32px;

  @include respond-to('medium') {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    margin-bottom: 40px;
  }

    @include respond-to('large') {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about__subwrapper {
  @include respond-to('medium') {
    display: flex;    
  }
}

.about__cow {
  width: 280px;
  height: 279px;
  
@include respond-to('medium') {
      width: 336px;
      height: 335px;
    }

    @include respond-to('large') {
      width: 501px;
      height: 501px;   
  }
}

.about__wrapper {
  width: 220px;
  text-align: left;
  margin-top: 40px;
  
  @include respond-to('medium') {    
    margin-left: 32px;
    width: 334px;
  
  }

    @include respond-to('large') {
    margin-left: 99px;
    width: 463px;
    padding-top: 90px;
    padding-bottom: 81px;
   
  }
}

.about__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--main-text-color);

  margin-bottom: 22px;

  @include respond-to('medium') {
    font-size: 14px;
      line-height: 1.76;
    margin-bottom: 15px;
  }

    @include respond-to('large') {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;

    margin-bottom: 32px;
  }
}

.about__subtext {
  font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
  color: var(--complementary-text-color);

  @include respond-to('medium') {
    font-size: 14px;
      line-height: 1.76;
      letter-spacing: 0.04em;
  }
  @include respond-to('large') {
    line-height: 1.94;
    }
}

.about__subtext--second {
  margin-top: 10px;
  margin-bottom: 20px;

  @include respond-to('medium') {
    margin-bottom: 40px;
  }

    @include respond-to('large') {
    margin-top: 27px;
  }
}

.about__icon {
  fill: var(--accent-color);

  margin-left: 15px;

  @include respond-to('medium') {
    margin-left: 14px;
  }
}