/* Advantages section */

.advantages {
    background-color: var(--secondary-bg-color);
}

.advantages__list {
    @include respond-to('medium') {
        display: flex;
        @include respond-to('large') {
            justify-content: center;
        }
    }
}

.advantages__box {
    margin-top: 16px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 230px;
        height: 96px;
    }

    @include respond-to('large') {
        margin-top: 40px;
    }
}

.advantages__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.advantages__subtitle {
    height: 56px;
    
    margin-bottom: 4px;

    @include respond-to('medium') {
        margin-bottom: 13px;
    }

    @include respond-to('large') {
        height: 65px;

        margin-bottom: 16px;
    }
}

.advantages__subtitle--basic {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;

    text-transform: uppercase;

    color: var(--accent-color);

    @include respond-to('medium') {
        font-size: 48px;
        line-height: 1.15;
    }

    @include respond-to('large') {
        font-size: 58px;
        line-height: 1.14;
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);

    @include respond-to('medium') {
        font-size: 14px;
        line-height: 1.74;
    }

    @include respond-to('large') {
        font-size: 16px;
        line-height: 1.76;
    }
}

.advantages__text--start {
    @include respond-to('medium') {
        width: 180px;

        margin-right: 4px;
    }

    @include respond-to('large') {
        width: 288px;

        margin-right: 115px;
    }
}

.advantages__text--second {
    @include respond-to('medium') {
        width: 162px;

        margin-right: 22px;
    }

    @include respond-to('large') {
        width: 317px;

        margin-right: 80px;
    }
}

.advantages__text--last {
    @include respond-to('medium') {
        width: 159px;
    }

    @include respond-to('large') {
        width: 288px;
    }
}

.advantages__icon {
    fill: var(--icons-bg-color);
}