.contacts__section {
    padding-top: 60px;
    padding-bottom: 40px;

    background: linear-gradient(180deg,
            var(--main-bg-color) 367px,
            var(--secondary-bg-color) 0);

    @include respond-to('medium') {
        padding-top: 120px;
    }

    @include respond-to('large') {
        padding-bottom: 120px;
        background: linear-gradient(180deg,
                var(--main-bg-color) 217px,
                var(--secondary-bg-color) 0);
    }
}

.contacts__container {
    @include respond-to('small') {
        @include container($wd: 480px, $ml: auto, $mr: auto, $pl: 20px, $pr: 20px);
    }

    @include respond-to('medium') {
        @include container($wd: 768px, $ml: auto, $mr: auto, $pl: 20px, $pr: 20px);
    }

    @include respond-to('large') {
        @include container($wd: 100%, $ml: auto, $mr: auto, $pl: 20px, $pr: 20px);
    }
}

.contacts__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 32px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    @include respond-to('large') {
        gap: 32px;
        margin-bottom: 60px;
    }

}

.contacts__item {
    padding: 40px 32px;
    background: var(--main-bg-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        max-width: 280px;
        height: 412px;
    }

    @include respond-to('large') {
        padding: 40px;
        width: 368px;
        height: 538px;
    }
}

.contacts__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    display: block;
    text-align: center;
    width: 80px;
    background: var(--additional-bg-color-coffee);
    border-radius: 4px;
    margin-bottom: 20px;

    @include respond-to('medium') {
        font-size: 16px;
        line-height: 1.88;
    }

    &--accent {
        @extend .contacts__title;

        width: 130px;
        background: var(--additional-bg-color-shake);

        @include respond-to('medium') {
            font-size: 16px;
            line-height: 30px;
        }
    }
}

.location,
.shedule {
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;

    @include respond-to('medium') {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
}

.contacts__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    letter-spacing: 0.04em;

    color: var(--main-text-color);

    @include respond-to('medium') {
        font-size: 14px;
        line-height: 26px;
    }

    @include respond-to('large') {
        font-size: 16px;
        line-height: 1.88x;
    }
}

.contacts__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: var(--complementary-text-color);

    @include respond-to('medium') {
        font-size: 14px;
        line-height: 1.64;
    }

    @include respond-to('large') {
        font-size: 16px;
        line-height: 1.81;
    }
}

.shedule__item {
    margin-bottom: 8px;

    @include respond-to('medium') {
        margin-bottom: 12px;
    }
}

.shedule__subtitle {
    @extend .contacts__subtitle;
}

.shedule__text {
    @extend .contacts__text;
    line-height: 1.38;
    color: var(--secondary-title-color);
}

.contacts-box__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--complementary-text-color);
    transition: var(----timing-transition);

    &:hover,
    &:focus {
        color: var(--secondary-btn-hover-bg-color);
    }

    @include respond-to('medium') {
        font-size: 14px;
        line-height: 1.86;
    }

    @include respond-to('large') {
        font-size: 16px;
        line-height: 1.81;
    }
}

.contacts-btn {
    @extend %flex-center;
    background-color: var(--accent);

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 10px;
    }

    @include respond-to('medium') {
        gap: 12px;
    }

    @include respond-to('large') {
        gap: 14px;
    }

    &__icon {
        fill: currentColor;
        margin-left: 10px;

        @include respond-to('medium') {
            margin-left: 13px;
        }
    }
}