.container {
    @include container ($wd: 100%x, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);

    @include respond-to('small') {
        @include container ($wd: 320px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
    }

    @include respond-to('medium') {
        @include container ($wd: 768px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
    }

    @include respond-to('large') {
        @include container ($wd: 430px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
    }
}
.gallery {
    outline: 1px solid red;
    background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 34%, #ffffff 34%, #ffffff 100%, #ffffff 100%, #ffffff 100%); 
     
    @include respond-to('medium') {
        background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 18%, #ffffff 18%, #ffffff 100%, #ffffff 100%, #ffffff 100%);
    }
    @include respond-to('large') {
        background: linear-gradient(to bottom, #fff5f6 0%, #fff5f6 79%, #ffffff 79%, #ffffff 100%, #ffffff 100%, #ffffff 100%);
    }

}

source {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumb {
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 43px;    
}
 .gellery_row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}