.container {
  @include container($wd: 100%x, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);

  @include respond-to('small') {
    @include container($wd: 320px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
  }

  @include respond-to('medium') {
    @include container($wd: 768px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
  }

  @include respond-to('large') {
    @include container($wd: 430px, $ml: auto, $mr: auto, $pl: 0px, $pr: 0px);
  }
}

.gallery {
  background: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 19%,
    #ffffff 19%,
    #ffffff 100%,
    #ffffff 100%,
    #ffffff 100%
  );

  @include respond-to('medium') {
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 57%,
      #ffffff 57%,
      #ffffff 100%,
      #ffffff 100%,
      #ffffff 100%
    );
  }
  @include respond-to('large') {
    padding-top: 120px;
    padding-bottom: 120px;

    background: linear-gradient(
      to bottom,
      #fff5f6 0%,
      #fff5f6 66%,
      #ffffff 66%,
      #ffffff 100%,
      #ffffff 100%,
      #ffffff 100%
    );
  }
}

.gallery__container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.gallery__img {
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__img:hover,
.gallery__img:focus {
  transform: scale(1.4);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__img:active {
  cursor: zoom-in;
  transform: scale(2.5);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 350 mscubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1050px) {
  .gallery__container {
    padding-left: 135px;
    padding-right: 135px;
  }
  .gallery__column {
    width: 145px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .gallery__column_big {
    width: 286px;
  }
  .first {
    padding-top: 140px;
    padding-bottom: 150px;
  }
  .second {
    padding-top: 85px;
    padding-bottom: 60px;
  }
  /*.third {}*/
  .fourth {
    padding-top: 100px;
    padding-bottom: 45px;
  }
  .fifth {
    padding-top: 53px;
    padding-bottom: 90px;
  }
  .sixth {
    padding: 150px 0px 135px 0;
    padding-top: 150 - 15px;
    padding-bottom: 135px;
  }

  .img__container {
    margin-bottom: 6px;
    width: 139px;
    height: 139px;
  }
  .img__container_big {
    width: 284px;
    height: 284px;
  }
  .gallery__img {
    border-radius: 23px;
  }
}
@media screen and (max-width: 480px) {
  .gallery__img {
    cursor: zoom-in;
    border-radius: 6px;
  }
}
@media screen and (max-width: 768px) {
  .gallery__container {
    padding-left: calc(15px + (135 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(15px + (135 - 15) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__column {
    width: calc(41px + (145 - 41) * ((100vw - 320px) / (768 - 320)));
    margin-left: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__column_big {
    width: calc(81px + (286 - 81) * ((100vw - 320px) / (768 - 320)));
  }
  .first {
    padding-top: calc(40px + (140 - 40) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(42px + (150 - 40) * ((100vw - 320px) / (768 - 320)));
  }
  .second {
    padding-top: calc(24px + (85 - 24) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(16px + (60 - 16) * ((100vw - 320px) / (768 - 320)));
  }
  /*.third {}*/
  .fourth {
    padding-top: calc(28px + (100 - 28) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(13px + (45 - 13) * ((100vw - 320px) / (768 - 320)));
  }
  .fifth {
    padding-top: calc(15px + (53 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(26px + (90 - 26) * ((100vw - 320px) / (768 - 320)));
  }
  .sixth {
    padding: 150px 0px 135px 0;
    padding-top: calc(15px + (150 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(43px + (135 - 43) * ((100vw - 320px) / (768 - 320)));
  }

  .img__container {
    margin-bottom: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
    width: calc(39px + (139 - 39) * ((100vw - 320px) / (768 - 320)));
    height: calc(39px + (139 - 39) * ((100vw - 320px) / (768 - 320)));
  }
  .img__container_big {
    width: calc(79px + (284 - 79) * ((100vw - 320px) / (768 - 320)));
    height: calc(79px + (284 - 79) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__img {
    border-radius: calc(5px + (25 - 5) * ((100vw - 320px) / (768 - 320)));
  }
}
@media screen and (max-width: 1050px) {
  .gallery {
    padding: 0 0 37% 0;
  }
  .gallery__container {
    padding-left: calc(15px + (135 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(15px + (135 - 15) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__column {
    width: calc(41px + (145 - 41) * ((100vw - 320px) / (768 - 320)));
    margin-left: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__column_big {
    width: calc(81px + (286 - 81) * ((100vw - 320px) / (768 - 320)));
  }
  .first {
    padding-top: calc(40px + (140 - 40) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(42px + (150 - 40) * ((100vw - 320px) / (768 - 320)));
  }
  .second {
    padding-top: calc(24px + (85 - 24) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(16px + (60 - 16) * ((100vw - 320px) / (768 - 320)));
  }
  /*.third {}*/
  .fourth {
    padding-top: calc(28px + (100 - 28) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(13px + (45 - 13) * ((100vw - 320px) / (768 - 320)));
  }
  .fifth {
    padding-top: calc(15px + (53 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(26px + (90 - 26) * ((100vw - 320px) / (768 - 320)));
  }
  .sixth {
    padding: 150px 0px 135px 0;
    padding-top: calc(15px + (150 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-bottom: calc(43px + (135 - 43) * ((100vw - 320px) / (768 - 320)));
  }

  .img__container {
    margin-bottom: calc(2px + (6 - 2) * ((100vw - 320px) / (768 - 320)));
    width: calc(39px + (89 - 39) * ((100vw - 320px) / (768 - 320)));
    height: calc(39px + (89 - 39) * ((100vw - 320px) / (768 - 320)));
  }
  .img__container_big {
    width: calc(79px + (174 - 79) * ((100vw - 320px) / (768 - 320)));
    height: calc(79px + (174 - 79) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery__img {
    border-radius: calc(5px + (15 - 5) * ((100vw - 320px) / (768 - 320)));
  }
}
