.header {
  background-color: var(--complementary-bg-color);
  padding: 8px 20px;

  @media screen and (min-width: 768px) {
    padding: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 37px 56px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: auto;
}

.nav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.button--header {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 160px;
    margin-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

// Мобільне меню

.mobile-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;  
  background-color: var(--mob-menu-bg-color);
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(100%);
  opacity: 0;
  // transform: translateX(130%);
  transition: var(--timing-transition);

  @media screen and (mi-width: 768px) {
    transform: translateX(310%);
    transition: var(--timing-transition);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

}

.mobile-menu.is-open {
  transform: translateX(28%);
  transition: var(--timing-transition);

  @media screen and (min-width: 768px) {
    transform: translateX(207%);
    transition: var(--timing-transition);
  }
}

.btn-mobile-menu {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  z-index: 100000;

  @include respond-to('medium') {
    display: none;
  }
}

.mobile-menu__burger {
  z-index: 1000;
  fill: var(--accent-color);
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 27px;
  margin-left: auto;
  width: 20px;

  .mobile-menu.is-open & {
    opacity: 0;
  }

  @include respond-to('large') {
    display: none;
  }
}

.btn-mobile-menu__close {
  opacity: 0;
  fill: var(--secondary-text-color);
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 26px;
  margin-left: auto;

  .btn-mobile-menu.is-open & {
    opacity: 1;
  }

  @include respond-to('large') {
    display: none;
  }
}

.mobile-menu__button {
  width: 209px;
  height: 44px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.mobile-menu__nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);

  border-top: 1px solid #e18298;
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
}

.mobile-menu__nav-link:last-child {
  border-bottom: 1px solid #e18298;
}

.current {
  color: var(--accent-color);
}