.header {
  background-color: var(--complementary-bg-color);
  justify-content: space-between;     
  width: 100vw;
  display: flex; 
  }



.header__container {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;
  display: flex;
  align-items: center; 
  
   @include respond-to('medium') {     
    justify-content: space-between;      
    padding: 32px;      
    }
  
    @include respond-to('large') {   
    padding: 56px;
    width: 1200px;
    }
}

.header__logo {

  @include respond-to('large') {
   display: block;
   margin-right: auto;
  }
  
}

.nav {
  display: none;

  @include respond-to('large') {
    display: block;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    align-items: center;

    color: var(--secondary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @include respond-to('large') {
      font-size: 16px;
      line-height: 1.31;
    }
  }
}
.header__container >.button{
  display: none;

  @include respond-to('medium') {
      display: block;
  }
}

.button--header {
  display: none;

  @include respond-to('medium') {
    display: block;
    margin-left: 32px;
    width: 160px;    
  }

    @include respond-to('large') {
    margin-left: auto;
  }
}