.hero {
    width: 320px;
    height: 500px;

    background-color: var(--complementary-bg-color);

    overflow: hidden;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 100vw;
        height: 416px;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
    }
}

.hero__container {
    position: relative;
    top: 0;
    left: 0;

    width: 320px;
    height: 500px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 416px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 664px;
    }
}

.hero__title {
    z-index: 1;

    position: absolute;
    top: 194px;
    left: 20px;
    z-index: 5;

    font-family: Titan One;
    text-transform: uppercase;

    &--white {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.1;

        @media screen and (min-width: 768px) {
            font-size: 26px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 38px;
        }
    }

    &--dark {
        color: #d41443;
        font-weight: 400;
        font-size: 48px;
        line-height: 0.9;

        @media screen and (min-width: 768px) {
            font-size: 34px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 58px;
        }
    }

    @media screen and (min-width: 768px) {
        top: 102px;
        left: 32px;
    }

    @media screen and (min-width: 1200px) {
        top: 145px;
        left: 16px;
    }
}

.circle {
    position: absolute;
    top: 83px;
    left: 36px;

    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: #ffa5ba;

    @media screen and (min-width: 768px) {
        top: 43px;
        left: 248px;

        width: 335px;
        height: 335px;
    }

    @media screen and (min-width: 1200px) {
        top: 54px;
        left: 557px;

        width: 534px;
        height: 534px;
    }
}

.hero__thumb {
    position: absolute;
    top: 93px;
    left: 118px;

    width: 170px;
    height: auto;

    @media screen and (min-width: 768px) {
        top: 80px;
        left: 322px;

        width: 143px;
    }

    @media screen and (min-width: 1200px) {
        top: 108px;
        left: 636px;

        width: 236px;
    }
}

.hero__girl {
    display: none;

    & > img {
        object-fit: cover;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        display: block;

        position: absolute;
        bottom: 1px;
        left: 546px;

        width: 190px;
        height: 150px;
    }

    @media screen and (min-width: 1200px) {
        top: 423px;
        left: 880px;

        width: 304px;
        height: 241px;
    }
}

.hero__milk {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;

        position: absolute;
        bottom: 16px;
        left: 32px;

        width: 152px;

        animation-name: rocking;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-timing-function: linear;
        animation-iteration-count: 3;
    }

    @media screen and (min-width: 1200px) {
        top: 380px;
        left: 16px;

        width: 213px;
    }

    & > img {
        width: 100%;
        object-fit: cover;
    }
}

@keyframes rocking {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(5deg);
    }

    45% {
        transform: rotate(0deg);
    }
}

.hero__text {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;

        position: absolute;
        top: 287px;
        left: 184px;

        width: 114px;
        height: 48px;

        font-family: DM Sans;
        font-size: 8px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;

        color: #fff;
    }

    @media screen and (min-width: 1200px) {
        top: 460px;
        left: 232px;

        font-size: 14px;

        width: 200px;
    }
}

.hero__arrow {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;

        position: absolute;
        top: 342px;
        left: 184px;

        width: 18px;
        height: 18px;
    }

    @media screen and (min-width: 1200px) {
        top: 555px;
        left: 232px;

        width: 26px;
        height: 26px;
    }

    &:hover {
        transform: scale(1.4);
    }
}

.hero__group {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;

        position: absolute;
        top: 94px;
        right: 42px;

        @media screen and (min-width: 1200px) {
            top: 156px;
            right: 34px;
        }

        &-item:not(:last-child) {
            margin-bottom: 26px;
        }

        &-item {
            position: relative;
            z-index: 1;
        }

        &-item:first-child::before {
            content: "cafes";

            position: absolute;
            right: 0;
            bottom: -10px;
            font-family: DM Sans;
            font-size: 8px;
            font-weight: 400;
            line-height: 1.1;

            color: #fff;

            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }

        &-item:last-child::before {
            content: "food trucks";

            position: absolute;
            right: 0;
            bottom: -10px;
            font-family: DM Sans;
            font-size: 8px;
            font-weight: 400;
            line-height: 1.1;

            width: 43px;

            color: #fff;

            @media screen and (min-width: 1200px) {
                font-size: 14px;
                width: 74px;
            }
        }

        &-item::after {
            content: "";

            position: absolute;
            top: -4px;
            right: -6px;
            z-index: -1;

            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #fff;

            @media screen and (min-width: 1200px) {
                right: -10px;

                width: 30px;
                height: 30px;
            }
        }

        &-text {
            font-family: Titan One;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.1;

            color: #d41443;

            @media screen and (min-width: 1200px) {
                font-size: 46px;
            }
        }
    }
}

.btns {
    position: absolute;
    top: 320px;
    left: 20px;

    display: flex;

    @media screen and (min-width: 768px) {
        top: 202px;
        left: 32px;
    }

    @media screen and (min-width: 1200px) {
        top: 305px;
        left: 16px;
    }
}

.btns__item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

.btn__hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    font-size: 8px;
    font-weight: 400;
    line-height: 1.1;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.btn__hero--red {
    width: 62px;
    color: #fff;
    background-color: #d41443;

    @media screen and (min-width: 1200px) {
        width: 107px;
        height: 40px;
    }
}

.btn__hero--light {
    width: 82px;

    color: #d41443;
    background-color: #fff;

    @media screen and (min-width: 1200px) {
        width: 138px;
        height: 40px;
    }
}
