.products__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.products__section {
    padding-top: 60px;
    padding-bottom: 60px;

}



// title

.products__uppertitle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-title-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
        font-size: 34px;
        line-height: 1.13;
    }

    &--position {
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            margin-bottom: 18px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 16px;
        }
    }
}

.products__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color);


    @media screen and (min-width: 768px) {
        font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 66px;
        line-height: 1.14;
    }

    &--position {
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }
}

.products__subtitle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);


    @media screen and (min-width: 1200px) {
        font-size: 34px;
        line-height: 1.13;
    }

    &--position {
        margin-bottom: 70px;

    }
}

.products__text {
    margin-bottom: 32px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        line-height: 176%;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;

        font-size: 16px;
    }
}

.products__text::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 212px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    box-shadow: -20px 0 0 white, 20px 0 0 white;

    @media screen and (min-width: 768px) {
        top: 35%;
    }

    @media screen and (min-width: 1200px) {
        top: 40%;
    }

}


// products__list
.products__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.products__item {
    @media screen and (max-width: 767px) {
        padding-top: 140px;
        min-width: 280px;
    }


    @media screen and (min-width: 768px) {
        padding-top: 138px;
        width: 224px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 261px;
        min-width: 368px;
    }


    &:not(:last-child) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 16px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 32px;
        }
    }
}


.products__desc {
    position: relative;

    padding: 160px 40px 40px 40px;
    width: 100%;
    border-radius: 24px;

    @media screen and (min-width: 768px) {
        padding: 118px 32px 40px 32px;
    }


    @media screen and (min-width: 1200px) {
        padding: 165px 61px 60px 61px;
    }


    &--ice-crem {
        background-color: var(--additional-bg-color-cream);
    }

    &--coffee {
        background-color: var(--additional-bg-color-coffee);
    }

    &--shake {
        background-color: var(--additional-bg-color-shake);
    }
}

.products__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border-color: transparent;
    background: white;
}

.products__icon {
    fill: var(--accent-color);
}

.products__subtitle--ice-crem::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;

    background-image: url(../images/mobile/ice_cream.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        top: -32px;
        width: 368px;
        height: 368px;
        background-size: 368px 368px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__subtitle::before {
        background-image: url(../images/mobile/ice_cream@2x.png);
    }
}

.products__subtitle--coffee::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;

    background-image: url(../images/mobile/ice_coffee.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        top: -32px;
        width: 368px;
        height: 368px;
        background-size: 368px 368px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__subtitle::before {
        background-image: url(../images/mobile/ice_coffee@2x.png);
    }
}

.products__subtitle--shake::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 280px;

    background-image: url(../images/mobile/milkshake.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        top: -32px;
        width: 368px;
        height: 368px;
        background-size: 368px 368px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .products__subtitle::before {
        background-image: url(../images/mobile/milkshake@2x.png);
    }
}